.table-page {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.table-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0 16px;
}

.table-holder {
  margin: 0 0 20px;
}

.table-header {
  display: flex;
  align-items: center;
  padding: 8px 16px;
}

.table-logo {
  max-height: 50px;
  max-width: 150px;
  margin: 0 20px 0 0;
}
